[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pdfplumber = "*"
docx2txt = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.11"
